<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Practika.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Practika.Properties.Settings.MarathonSkillsDBConnectionString"
            connectionString="Data Source=FROSTYMSI;Initial Catalog=MarathonSkillsDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Practika.Properties.Settings>
            <setting name="TimerPanelBackground" serializeAs="String">
                <value>0, 144, 62</value>
            </setting>
            <setting name="HeaderPanelBackground" serializeAs="String">
                <value>36, 29, 112</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Button" serializeAs="String">
                <value>235, 235, 235</value>
            </setting>
            <setting name="LightText" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BorderButtonExit" serializeAs="String">
                <value>180, 180, 180</value>
            </setting>
            <setting name="DarkText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GrayText" serializeAs="String">
                <value>180, 180, 180</value>
            </setting>
            <setting name="TimerFontsize" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="BorderButtonWeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ButtonExit" serializeAs="String">
                <value>253, 193, 0</value>
            </setting>
        </Practika.Properties.Settings>
    </userSettings>
</configuration>